//$primary-color:#171C61;
$secondary-color-orange:#f6491c;
$secondary-color-grey:#3c3c3c;
$secondary-color-red:#ff0000;
$secondary-color-yellow:#f48c04;
$background-color-grey:#302c2d;
//$footer-backgroundcolor:#1a2163;
//$linear-gradient:linear-gradient(to right, #5A71F7 0%, #858FF7 100%);

//$button-hover:#ACB4FF;